.header__btnNav {
  text-decoration: none;
  background-color: black;
  color: #a9a9a9;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.21;
  cursor: pointer;
  border: none;
}

.header__btnNav:hover {
  opacity: 0.7;
}

@media screen and (max-width: 770px) {
  .header__btnNav {
    font-size: 16px;
  }
}
