.profile__btn-avatar {
  background-color: transparent;
  background-image: url(../../../images/pen-big.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
  width: 120px;
  height: 120px;
  cursor: pointer;
  /* z-index: 1; */
  /* position: relative; */

  /* padding-right: 30px; */
  grid-row-start: 1;
  grid-row-end: 3;
}


@media screen and (max-width: 760px) {
  .profile__btn-avatar {
    padding-right: 0px;
    align-self: center;
  }
}