.header__authorise {
  display: flex;
  /* flex-direction: row;
  /* padding-top: 8px; */
  align-items: baseline;
}

@media screen and (max-width: 570px) {
  .header__authorise {
    display: none;
    align-items: center;
    /* display: flex;
    flex-direction: column-reverse;
    align-items: center;
    flex-wrap: wrap; */
    /* padding: 12px 0 40px 0; */
  }
}