.page__header {
  margin: 0 200px;
}

@media screen and (max-width: 980px) {
  .page__header {
    margin: 0 100px;
  }
}

@media screen and (max-width: 670px) {
  .page__header {
    margin: 0;
    padding: 0 27px;
  }
}
